{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <button class="formInput" type="button" disabled>{{ 'profile.show.username'|trans }}: {{ user.username }}</button>
    <button class="formInput" type="button" disabled>{{ 'profile.show.email'|trans }}: {{ user.email }}</button>
</div>

<div id="liensAccueil">
    <a class="linkAccueil" href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a>
    <a class="linkAccueil" href="{{ path('fos_user_change_password') }}">Changer le mot de passe</a>
</div>
