{% extends '@Article/Default/index.html.twig' %}

{% block titre %} Astuce {% endblock %}

{% block content %}

    {% for key,astuce in astuces %}
        <div class="article">
            <a class="button-upDown" data-toggle="collapse" href="#collapse{{ key }}" role="button" aria-expanded="false" aria-controls="collapse{{ key }}">
            <header class="row article-entete">
                <h5 class="article-titre col-8"><i class="fa fa-sort-down"></i>{{ astuce.nom|capitalize }}</h5>
                <div class="col-4">
                    {% for key,cat in astuce.categories if cat.nom != "Astuce" %}
                        <span class="article-categorie badge badge-light float-right">
                            {{ cat.nom }}
                        </span>
                    {% endfor %}
                </div>
                
            </header>
            </a>
            <div class="collapse" id="collapse{{ key }}">
            <div class="text-center">
                <img class="article-image img-responsive " src="{{ astuce.urlImage }}" alt="">
            </div>    
            <div>
                <div class="article-contenu">
                    <p>{{ astuce.miseEnFormeContenu }}</p> 
                </div>
                <a class="article-source" href="{{ astuce.urlSource }}">Source</a>
                <a href="{{ path('astuce_update', {id: astuce.id}) }}"><i class="fa fa-pen"></i></a>
            </div> 
            </div>
          
        </div>
    {% endfor %}

{% endblock %}