{% extends '@Article/Default/index.html.twig' %}

{% block titre %} Astuce
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('astuce_add') }}" class="link ajout"><i class="fas fa-plus"></i></a>
    {% endif %}

{% endblock %}


{% block filtre %}
    {% include 'block/filtre.html.twig' %}
{% endblock %}

{% block content %}

    {% for key,astuce in articles %}
        <div class="article">
            <a class="button-upDown" data-toggle="collapse" href="#collapse{{ key }}" role="button" aria-expanded="false" aria-controls="collapse{{ key }}">
            <header class="row article-entete">
                <div class="col-1">
                        <i class="fa fa-sort-down header"></i> 
                </div>
                <h5 class="article-titre col-8">{{ astuce.nom }}</h5>
                <div class="col-3">
                    {% for key,cat in astuce.categories if cat.id != 16 %}
                        <span class="article-categorie badge badge-light float-right">
                            {{ cat.nom }}
                        </span>
                    {% endfor %}
                </div>
                
            </header>
            </a>
            <div class="collapse" id="collapse{{ key }}">
            <div class="text-center">
                <img class="article-image img-responsive " src="{{ astuce.urlImage }}" alt="">
            </div>    
            <div>
                <div class="article-contenu">
                    <p>{{ astuce.miseEnFormeContenu }}</p> 
                </div>
                <a class="article-source" href="{{ astuce.urlSource }}">Source</a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('astuce_update', {id: astuce.id}) }}"><i class="fa fa-pen"></i></a>
            {% endif %}
            </div> 
            </div>
          
        </div>
    {% endfor %}

{% endblock %}